// MY THEME COLORS

$primary:#763EBD;
$secondary: #95CFD5;
$success:#55CE1B;
$warning:#FD7E50;
$info:#2F6DC3;
$dark:#4C414F;

$primary-bg-subtle:#836E89;
$info-bg-subtle:#D9EDFF;
$warning-bg-subtle:  #FFE1E0;
$success-bg-subtle:   #E3F9DD;
$dark-bg-subtle:#F0F0F0;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 12px,
  7: 20px,
  8: 60px,
  9: 24px,
  10: 8px,
  11: 95px,
  12:10px,
  13: 50px,
  14:38px,
  15:40px,
  16:150px,
  17:18px,
  18: 34px,
  19:36px,
  20: 6px,
  21:4px,
  22:35px,
  23:30px,
  24:13px,
  25:2px,
  26:7px,
  27:22px,
  28:25px,
  29:15px,
  30:91px,
  31:75px,
  32:48px,
  33:92px,
  34:17px,

) !default;
// scss-docs-end spacer-variables-maps
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: 12px,
  8: 13px,
  9: 14px,
  10: 15px,
  11: 16px,
  12: 18px,
  13: 20px,
  14: 22px,
  15: 28px,

) !default;
// scss-docs-end font-sizes

$position-values: (
  0: 0,
  1:1px,
  50: 50%,
  100: 100%,
) !default;

// border color
$border-color: #EBECEF;

// scss-docs-start table-variables
$table-cell-padding-y: 16px !default;
$table-cell-padding-x: 0px !default;
$table-border-color: #F4EFF5;

// Offcanvas

// scss-docs-start offcanvas-variables
$offcanvas-horizontal-width: 265px !default;

@import "./utilities";